.openfed_social_links a.openfed_social_share_link {
    display: inline-block;
    height: 30px;
    width: 30px;
}
.openfed_social_links a.openfed_social_share_link + a.openfed_social_share_link {
    margin-left: 10px;
}
